@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Space Mono', monospace;
   
  
}
*{
    box-sizing: border-box;
    color: #fff;
}
video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
header::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 93%);
  }
nav{
    display: flex;
    height: 10vh;
    justify-content: space-between;
   margin-top: 0.5%;
   margin-left: 0.5%;
    
}

ul{
    display: flex;
   width: 80vw;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    max-width: 1200px;
}
li{
    font-size: 36px;
    margin: 5%;
    
    font-weight: 700;
    
}
.scrollArrow{
    margin-top: 75vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: url('arrow.webp'),  radial-gradient(circle, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 72%) ;
    height: 10vh;
    width: 10vh;
    background-size: contain;
    background-repeat: no-repeat;

}

#oMnie{
    background-color: #1c1c1c;
    margin-top: 4.5vh;
    height: 100vh;
}
#oMnie::after{
    content: '';
    background-color: #1c1c1c;
    height: 0.5vh;
    width: 100%;
    position: absolute;
    bottom: -0.5vh;
    z-index: 100;

}
.avatar{
    height: 30vw;
    background-color: #fff;
    margin: 2%;

}
.oMnieContent{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 101vh;
    align-items: center;
    max-width: 90vw;
}

#oMnie p{
    font-size: 1.7vw;
    margin: 0;
}
a{
    text-decoration: none;
    display: block;
    position: relative;
   
}
nav a::after{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #fff;
    width: 0;
    height: 3px;
    transition: width 0.3s, left 0.3s;
}
nav a:hover:after{
    width: 110%;
    left: -5%;
}
#mojeProjekty{
    background-color: #404a3c;
    margin: 0;
   padding-bottom: 5%;

}
#mojeProjekty header{
    margin-bottom: 5%;
    text-align: center;
}
#mojeProjekty header p{
    font-size: 2vw;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
h2{
    margin: 0;
    font-size: 5vw;
    text-decoration: underline;
}
article{
    display: flex;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    font-size: 1.5vw;
    align-items: center;
}
article img{
    width: 50vw;
    border-radius: 1vw;
    margin-right: 2VW;
    flex-shrink: 0;
    flex-grow: 1;
}
h3{
    margin: 0;
    font-size: 2.5vw;
}
.shadow {
    width: 50vw;
    position: absolute;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    margin-bottom: 1%;
    opacity: 80%;
}
