
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Space Mono', monospace;
   
  
}
*{
    box-sizing: border-box;
    color: #fff;
}
video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

  #pageHeader{
    height: 100vh;
    background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.95) 93%);
  }
nav{
    display: flex;
    height: 10vh;
    justify-content: space-between;
   padding-top: 0.5%;
   margin-left: 0.5%;
    
}
.hamburgerLines{
    opacity: 0;
}
.logo{

width: 20vw;
object-fit: contain;
object-position: 0 50%;
align-items: flex-start;

}

header ul{
    display: flex;
   width: 80vw;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    max-width: 1200px;
}
header li{
    font-size: 30px;
    margin: 5%;
    font-weight: 700;
    
}
.scrollArrow{
    margin-top: 75vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: url('arrow.webp'),  radial-gradient(circle, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 72%) ;
    height: 10vh;
    width: 10vh;
    background-size: contain;
    background-repeat: no-repeat;

}

#oMnie{
    background-color: #1c1c1c;
    margin-top: 0;
    height: 100vh;
}

.avatar{
    height: 30vw;
    background-color: #1c1c1c;
    margin: 2%;

}
.oMnieContent{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 101vh;
    align-items: center;
    max-width: 90vw;
}

#oMnie p{
    font-size: 1.7vw;
    margin: 0;
}
a{
    text-decoration: none;
    display: block;
    position: relative;
   
}
nav a::after{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #fff;
    width: 0;
    height: 3px;
    transition: width 0.3s, left 0.3s;
}
nav a:hover:after{
    width: 110%;
    left: -5%;
}
#mojeProjekty{
    background-color: #404a3c;
    margin: 0;
   padding-bottom: 5%;

}
#mojeProjekty header{
    margin-bottom: 5%;
    text-align: center;
}
#mojeProjekty header p{
    font-size: 2vw;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
h2{
    margin: 0;
    font-size: 5vw;
    text-decoration: underline;
}
#mojeProjekty article{
    display: flex;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    font-size: 1.5vw;
    align-items: center;
    
    
}

#mojeProjekty article a{
    line-height: 0;
margin-right: 2VW;
}
#mojeProjekty article img{
    width: 50vw;
    border-radius: 1vw;
   
    flex-shrink: 0;
    flex-grow: 1;
  
    
}
#mojeProjekty article span{
    position: absolute;
    text-align: center;
   
    width: 25%;
    height: 20%;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

    opacity: 0;
    transition: opacity 0.3s;
    border: 2px #fff solid;
    z-index: 1;
    border-radius: 15px;
    background-color: rgba(28, 28, 28,0.6);
    color: #fff;
 -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
-moz-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
    

}

#mojeProjekty article span p{
  
    height: 100%;
    text-decoration: underline;  
    line-height: 100%;
}
#mojeProjekty article a:hover span{
    
    opacity: 1;
}
#mojeProjekty article a::after{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.631);
    height: 100%;
    border-radius: 1vw;
    transition: opacity 0.3s;
    width: 50vw;
    opacity: 0;
}

#mojeProjekty article a:hover::after{
    
    opacity: 100%;
    
}
h3{
    margin: 0;
    font-size: 2.5vw;
}
.shadow {
    width: 50vw;
    position: absolute;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    margin-bottom: 1%;
    opacity: 80%;
}
.oSporcie{
    background-color: #4A5761;
    display: grid;
    grid-template-areas:
    "oSporcie Snowboard"
    "eventy Snowboard"
    'Sportowcy Sportowcy';
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    
}
.oSporcieArticle{
  width: 45vw;
  font-size: 2vw;
  grid-area: oSporcie;
  
}
.Snowboard{
    grid-area: Snowboard;
    margin-left: 10%;
    height: auto;
    width: auto;
}
.Snowboard img{
    width: 18vw;
    margin-top: 2vw;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.X-Games, .laaxOpen, .olimpiada{
   
    
    
    background-color: #1c1c1c;
    display: grid;
    position: fixed;
   width: 80vw;
   top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
   grid-template-areas:
   '. close' 
   'opis zdjecie'
   'tabela tabela';
  border-radius: 15px;
  display: none;
  opacity: 0;
    
}
.X-Games span, .laaxOpen span, .olimpiada span{
    grid-area: close;
  font-size: 2vw;
  justify-self: end;
  padding-right: 1.5vw;
 

}
.X-Games.active, .laaxOpen.active, .olimpiada.active{
    display:grid;
    opacity: 1;

}

.X-Games div, .laaxOpen div, .olimpiada div{
    grid-area: opis;
    padding: 1.5vw;
    font-size: 1.2vw;
    align-self: center;
    
}

.X-Games img, .laaxOpen img, .olimpiada img{

grid-area: zdjecie;
height: 40vh;
padding: 1.5vw;

}

.X-Games aside, .laaxOpen aside, .olimpiada aside{
    grid-area: tabela;
    padding: 1.5vw;
   
}
table,th,td{
    border: 1px #fff solid;
    border-collapse: collapse;
    
}
th,td{
    padding: 0.3vw;
}



.eventy{
margin-top: -20%;
}
.eventy li{
    font-size: 3.5vw;
    margin-left: 10%;
    text-decoration: underline;
}
.eventy ul{
    background-color: rgba(28, 28, 28, 0.75);
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   border-radius: 15px;
   -webkit-box-shadow: 0px 0px 20px 0px #000;
-moz-box-shadow: 0px 0px 20px 0px #000;
box-shadow: 0px 0px 20px 0px #000;
}
.wybraniSportowcy{
   grid-area: Sportowcy;
  padding-bottom: 40%;
  height: 100%;
  
}

.carousel-item{
    position: absolute;
    width: 80vw;
    opacity: 0;
    background-color: #1c1c1c;
    border-radius: 15px;
    
    list-style-type: none;
    
    grid-template-areas: 
    'tytul zdjecie'
    'opis zdjecie';
    display: grid;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    
}
.carousel-item.active{
    opacity: 1;
    transition-delay: 0ms;
    z-index: 1;
}
.carousel-item h3{
    grid-template: tytul;
    padding-bottom: 0;
}
.carousel-item img{
    width: 35vw;
    grid-area: zdjecie;
}
.carousel-item p{
    padding-top: 0;
    grid-area: opis;
    font-size: 1.5vw;
    margin: 0;
}
.carousel-item *{
    padding: 3vw;
}
.carousel button{
position: absolute;
top: 150%;
background: none;
border: none;
font-size: 4vw;

}
.carousel{
    
    height: 10vw;
    position: relative;
}
.carousel button.prev{
    margin-left: -7vw;
    left: 0;
}
.carousel button.next{
    margin-right: -7vw;
    right: 0;
}
.wybraniSportowcy ul{
   padding: 0;
}
.kontakt{
    height: 100vh;
    background-color: #6E4E4E;
    
  
}
.kontaktFlex{
  display: flex;
align-items: center;
}
label,input {
    display: block;
}
input, textarea{
    color: #1c1c1c;
   border: 2px #909090 solid;
   border-radius: 10px;
   outline: none;
}
input:focus , textarea:focus{
    border: 2px #1c1c1c solid;
}
input{
    font-size: 2em;
    
}
textarea{
    font-size: 1.5em;
    width: 80%;
    resize: none;
    
}
form{
    flex-basis: 70%;
    flex-shrink: 0;
    flex-grow: 1;
    margin-left: 5vw;
}
#email{
    width: 80%;
}
.kontakt img{
    height: 20em;
   
}
label{
    font-size: 1.5em;
}
.kontakt p{
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 2em;
}
.kontakt article{
  
    margin-right: 5vw;
}
.kontakt h2{
    font-size: 5em;
    padding-block: 1rem;
    margin-left: 5vw;
}
input[type="submit"]{
    background: #484848;
    width: 30%;
    color: #fff;
    padding-block: 5px;
}
@media screen and (max-width: 1210px) {
    
.line{
    width: 70px;
    height: 7px;
    background-color: #fff;
    margin-block: 14px;
    border-radius: 5px;
}
.openHamburger{
    position: absolute;
   padding: 0;
   margin: 0;
   width: 70px;
   height: 70px;
   opacity: 0;
   z-index: 3;
}
.hamburgerLines{
    opacity: 1;
    position: absolute;
    top: 20px;
    right: 30px;
    overflow: hidden;
    z-index: 2;
}
.line2{
    margin-left: 15px;
    width: 55px;
}
nav ul{
    display: none;
}
.logo{
    object-fit: contain;
    width: 50vw;
    height: 10vh;
    margin-top: 20px;
    margin-left: 10px;
}
.line{
    transition:  transform 300ms;
}

.line.line1.active{
    transform: translate(0%, 21px) rotate(45deg) ;
}
.line.line3.active{
    transform: translate(0%,-21px) rotate(-45deg) ;
}
.line.line2.active{
    transform: translateX(500%) ;
}
nav ul.active{
    z-index: 1;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    justify-content: center;
    background-color: #000000b0;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.oMnieContent{
    flex-direction: column;
    height: auto;
    padding-block: 15%;
   
    
}
.avatar{
   height: 40vh;
    float: left;
    order: 2;
}
.oMnieContent h2{

    font-size: 15vw;
    

}
#oMnie p{
    font-size: 20px;
    
}
#oMnie{
    text-align: center;
    height: auto;
    
}
#mojeProjekty article{
    flex-direction: column;
    font-size: 20px;
}
#mojeProjekty{
    text-align: center;
}
#mojeProjekty article img{
    width: 90vw;
}
#mojeProjekty article h3{
    font-size: 30px;
}
#mojeProjekty header p{
    font-size: 15px;
    width: 85vw;
}
#mojeProjekty header h2{
    font-size: 40px;
}

#mojeProjekty article a:hover::after{
    
    opacity: 0;
    
}
#mojeProjekty article a:hover span{
    
    opacity: 0;
}

}
@media screen and (max-width: 750px) {

    .oSporcie{
       
        grid-template-areas:
        "oSporcie Snowboard"
        "eventy eventy"
        'Sportowcy Sportowcy';
        text-align: center;
        
        
    }
.oSporcieArticle h2{
    font-size: 8vw;
}
.oSporcieArticle p{
    font-size: 4vw;
}
.Snowboard{
    width: 30vw;
    overflow: hidden;
    justify-self: right;
    margin-right: -30%;
}
.Snowboard h2{
    display: none;
}
.Snowboard img{

width: 45vw;

}

.eventy{
    
    height: 150%;
    width: 200%;
    margin-top: 0;
}
.eventy li{
    font-size: 30px;
    margin-left: 0;
}
.eventy ul{
   
}

}